@model RoleTopMvc.ViewModels.DashboardViewModel
@using RoleTopMvc.Enums;

<main>

    <table>

        <thead>
            <tr>
                <td class="iconcor"><i class="fas fa-user-plus"></i></td>
                </div>
                <td class="iconcor"><i class="fas fa-user-slash"></i></td>
                </div>
            </tr>

            <tr>
                <th >Usuarios</th>
                <th >Usuarios Bloqueado</th>

            </tr>
        </thead>
        <tfoot>

            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>Cesar Sportore</td>
                <td>Alexandre Fukaya</td>

            </tr>
            <tr>
                <td>Alexandre Fukaya</td>
                <td>Cesar Sportore</td>
            </tr>

        <tfoot>
            <tr>
                <td ="6">
                    <p>............................</p>
                </td>
            </tr>
        </tfoot>

        </tbody>
    </table>
    </section>


    <div>
        <section id="status-pedidos">
            <h3>Status dos pedidos</h3>
            <div id="painel">
                <div class="box-status-pedidos aprovados">
                    <h4>Aprovados</h4>
                    <p>@Model.EventosAprovados</p>
                </div>
                <div class="box-status-pedidos pendentes">
                    <h4>Pendentes</h4>
                    <p>@Model.EventosPendentes</p>
                </div>
                <div class="box-status-pedidos reprovados">
                    <h4>Reprovados</h4>
                    <p>@Model.EventosReprovados</p>
                </div>
            </div>
        </section>
        <br>
        <br>
        <hr>

        <!-----------------------------Lista de Eventos----------------------------->
        <section id="lista-pedidos">
            <h3>Lista de Eventos</h3>
            <table class="opa">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Email</th>
                        <th >Data</th>
                        <th >Telefone</th>
                        <th >Tipo de evento</th>
                        <th >Adicionais</th>
                        <th>Situação</th>
                        <th >Status</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        
                            <p>Eventos atualizados em 10/09/2019 às 10:40</p>
                        </td>
                    </tr>
                </tfoot>
                <tbody>

                        @foreach( var evento in Model.Eventos ) {
                <tr>
                    <td>@evento.Cliente.Nome</td>  
                    <td>@evento.Cliente.Email</td> 
                    <td>@evento.DataRealizacao.ToShortDateString()</td> 
                    <td>@evento.Cliente.Telefone</td>
                    <td>@evento.TipoEvento.Nome</td>
                    <td>@evento.Adicionais</td>
                    <th>
                        <a href='@Url.Action("Aprovar", "Orcamento", new {id = @evento.Id})' class="fa fa-check"></a>
                        <a href='@Url.Action("Reprovar", "Orcamento", new {id = @evento.Id})' class="fa fa-times"></a>
                    </th>

                     @if(@evento.Status == (uint) @StatusEvento.PENDENTE)
                    {
                        <td style="color:#4B0082;font-weight:bold">Pendente </td>        //mostar a status Pendente//
                    }
                    @if(@evento.Status == (uint) @StatusEvento.APROVADO)
                    {
                        <td style="color:green;font-weight:bold">Aprovado</td>
                    } 
                    @if(@evento.Status == (uint) @StatusEvento.REPROVADO)
                    {
                        <td style="color:red;font-weight:bold">Reprovado</td>
                    } 

                </tr>
            } 
                    <!-- <tr>
                        <td>Rita Magalhoes</td>
                        <td>Casamento</td>
                        <td>14/09/2019-Sabado</td>
                        <td>Horario:14:30-5:30 </td>
                        <td><button class="button"> Aprovar </button> <button class="button"> Reprovar</button></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr> -->

                    <tr>
                        <!-- 
                        <td>Astolfo Pereira</td>
                        <td>Balada</td>
                        <td>13/09/2019-Sexta</td>
                        <td>Horario: 19:00-3:00</td>
                        <td><button class="button"> Aprovar</button> <button class="button"> Reprovar</button></td>
                        <td><i class="fas fa-times"></i></td> -->
                    </tr>
                    <tr>
                        <!-- <td>Andre Chagas</td>
                        <td>Show</td>
                        <td>Pendente...</td>
                        <td>Pendente...</td>
                        <td><button class="button"> Aprovar</button> <button class="button"> Reprovar</button></td>
                        <td><i class="fas fa-check"></i></td> -->
                    </tr>
                    <tr>
                        <!-- <td>Barbara Santos</td>
                        <td>Festa Empresarial</td>
                        <td>12/09/2019-Quinta</td>
                        <td>Horario: 16:00-9:00</td>
                        <td><button class="button"> Aprovar</button> <button class="button"> Reprovar</button></td>
                        <td><i class="fas fa-check"></i></td> -->
                    </tr>

                </tbody>
            </table>
        </section>
        <!-----------------------------Lista de Eventos----------------------------->

</main>