@model RoleTopMvc.ViewModels.HistoricoViewModel;
@using RoleTopMvc.Enums;        

<main>
<header>
    <hgroup>
        <h1> </h1>
    </hgroup>
</header>

    <h2>Histórico</h2>
    <table>
        <thead>
            <tr>
                 
                <th>Nome</th>
                <th>Email</th>
                <th>Data Do Evento</th>
                <th>Telefone</th>
                <th>TipoEvento</th>
                <th>Adicionais</th>
                <th>Status</th>             
            </tr>
        </thead>
        <tbody>
             @foreach( var evento in Model.Eventos ) 
             {
                <tr>
                    <td>@evento.Cliente.Nome</td>  
                    <td>@evento.Cliente.Email</td> 
                    <td>@evento.DataRealizacao.ToShortDateString()</td> 
                    <td>@evento.Cliente.Telefone</td>
                    <td>@evento.TipoEvento.Nome</td>
                    <td>@evento.Adicionais</td>
                    @if(@evento.Status == (uint) @StatusEvento.PENDENTE)
                    {
                        <td style="color:orange;font-weight:bold">Pendente </td>        //mostar a status Pendente//
                    }
                    @if(@evento.Status == (uint) @StatusEvento.APROVADO)
                    {
                        <td style="color:green;font-weight:bold">Aprovado</td>
                    } 
                    @if(@evento.Status == (uint) @StatusEvento.REPROVADO)
                    {
                        <td style="color:red;font-weight:bold">Reprovado</td>
                    } 
                </tr>
            } 
        </tbody>
    </table>

</main>