@model RoleTopMvc.ViewModels.BaseViewModels;

@{
    var nav= (string) ViewData ["Nav"];
    var foot= (string) ViewData ["Footer"];
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rolê Top</title>
    <link href="" rel="icon" type="image/x-icon" />

    <link rel="stylesheet" href="~/css/style-barradenav.css"> 

    <link href="https://fonts.googleapis.com/css?family=Londrina+Solid:900%7COpen+Sans" rel="stylesheet">
    <script src="https://kit.fontawesome.com/349a64cb04.js"></script>

    @if("Home".Equals(@Model.NomeView))
    {
        <link rel="stylesheet" href="~/css/style.css">;
    }
    else if("Galeria".Equals(@Model.NomeView))
    {
        <link rel="stylesheet" href="~/css/style-galeria.css">;
    }
    else if("Cliente".Equals(@Model.NomeView))
    {
        <link rel="stylesheet" href="~/css/style-login.css">;
    }
    else if("Cadastro".Equals(@Model.NomeView))
    {
        <link rel="stylesheet" href="~/css/style-cadastro.css">;
    }
    else if("Orcamento".Equals(@Model.NomeView))
    {
        <link rel="stylesheet" href="~/css/style-orcamento.css">;
    }
    else if("Dashboard".Equals(@Model.NomeView))
    {
        <link rel="stylesheet" href="~/css/style-dashboard.css">;
    }
    else if("Historico".Equals(@Model.NomeView))
    {
        <link rel="stylesheet" href="~/css/style-historico.css">;
    }

</head>

<body>

    <!-- <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v5.0"></script> -->


    <div id="topo">
        <a href='@Url.Action("Index", "Home" )'> <img src="~/img/logo.png" alt="logo" title="HOME"> </a>
    </div>

    
    @if("nav".Equals(nav)){
        Html.RenderPartial("_Nav");
        <link rel="stylesheet" href="~/css/style.css">;
    }


    <header>
        <!-- <nav class="menu">
            <ul>

                <!---------------RESPONSIVEL--------------->
            

        <!---------------RESPONSIVEL--------------->

        <div class="banner">
        </div>

    </header>


@RenderBody()

    @if("foot".Equals(foot)){
        Html.RenderPartial("_Footer");
        <link rel="stylesheet" href="~/css/style.css">;
    }


    <!---------------RESPONSIVEL--------------->

    <script>
        function toggleMobileMenu() {
            var ul = document.querySelector("nav ul");
            var commonButtons = document.querySelectorAll("nav .bt-common-menu");
            var icon = document.querySelector(".icon > i");

            ul.classList.toggle("mobile-mode");

            if (icon.classList.contains("fa-bars")) {
                icon.classList.remove("fa-bars");
                icon.classList.remove("fa");

                icon.classList.add("fas");
                icon.classList.add("fa-bars");
            } else {
                icon.classList.remove("fas");
                icon.classList.remove("fa-bars");

                icon.classList.add("fa");
                icon.classList.add("fa-bars");
            }

            for (var button of commonButtons) {
                button.classList.toggle("active");
            }

        }

    </script>

    <!---------------RESPONSIVEL--------------->

</body>

</html>